.loading-banner{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: absolute;
    overflow: hidden;
    letter-spacing: 1em;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-banner .strike-through {
    position: absolute;
    top: 52%;
    left: -100%;
    height: 0.07em;
    width: 100%;
    background: black;
}

@media all and (orientation: portrait) {
    #loading-wrapper {
        font-size: 5vw;
    }
}