.loadingText {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2em;
  overflow: hidden;
  letter-spacing: 1em;
}

.loadingTextWrapper {
  position: relative;
  overflow: hidden;
  display: block;

}

.loadingTextStrikeThrough {
  position: relative;
  top: -45%;
  left: -100%;
  height: 0.1em;
  width: 100%;
  background: black;
}

@media all and (orientation: portrait) {
  .loadingTextWrapper {
    font-size: 5vw;
    position: relative;
  }
}
