.nameBanner {
  height: 60vh;
  width: auto;
}

.nameBannerContainer {
  position: absolute;
  left: 7%;
  top: 17.5%;
}

@media all and (orientation: portrait) {
  .nameBanner {
    width: 15vw;
    height: auto;
  }

  .nameBannerContainer {
    top: 50%;
    transform: translateY(-50%);
  }
}

.desktopNavContainer {
  display: block;
}
.mobileNavContainer {
  display: none;
}

@media all and (max-width: 768px) {
  .desktopNavContainer {
    display: none;
  }
  .mobileNavContainer {
    display: block;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
