.alpha-spinner {
    width: 40vh;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 58%;
    -moz-transform-origin: 50% 58%;
    -ms-transform-origin: 50% 58%;
    -o-transform-origin: 50% 58%;
    transform-origin: 50% 58%;
}

@media all and (orientation: portrait) {
    .alpha-spinner {
        width: 30vw;
        height: 30vw;
    }
}